/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

body {

  background: rgb(232, 236, 237);
  color: #222;
}

header{
    background: rgb(136, 68, 200);
    color: lime;
    margin-top: 20px;
    padding: 30px;
    height: 40px;
}
header span{
    color: cyan;
}
/* ===== About Section ===== */
.about-section {
  align-items: center;
  padding: 60px 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-div {
    display: flex;
  align-items: center;
  gap: 50px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;

}

/* ===== Left Side Image ===== */
.image img {
    flex: 1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 5px 25px rgba(24, 25, 24, 0.2);

}

.image img:hover {
  transform: scale(1.05);
}

/* ===== Right Side Text ===== */
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 2.2rem;
  color: #007bff;
  margin-bottom: 40px;
  position: relative;
}

.about-text h2::after {
  content: "";
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #007bff, #00bcd4);
  position: absolute;
  left: 0;
  bottom: -10px;
  border-radius: 5px;
}

.about-text p {
  font-size: 18px;
  font-family: Segoe UI;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #555;
}

.about-text p:hover {
  color: #007bff;
}

